@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/homepage.css" />
</head>
<div class="image-container">
    <img src="https://th.bing.com/th/id/OIP.EhIhGENPsZlZd0BRY-5TOQHaE7?rs=1&pid=ImgDetMain" width="100%" />"
    <div class="text-overlay">Welcome to BookStore Website </div>
</div>

